<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="companyName" serializeAs="String">
                <value>ООО "Начало"</value>
            </setting>
            <setting name="companyDescription" serializeAs="String">
                <value>ИНН 0781780400, ОГРН 1130203661830, ОГРНИП 40704903516393, КПП 320142383, Юридический адрес 420342, г. Казань, ул. Центральная, 18, оф. 57</value>
            </setting>
            <setting name="companyDirector" serializeAs="String">
                <value>Иванов Иван Иванович</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>course</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </WpfApp1.Properties.Settings>
    </userSettings>
</configuration>